@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=JetBrains+Mono:wght@500;700&family=Plus+Jakarta+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

/* Memanggil mesin Tailwind v4 */
@import "tailwindcss";

/* Di sinilah pengganti tailwind.config.js */
@theme {
  --color-tertiary: #f0c052;
  --color-on-tertiary: #402d00;
  --color-surface-container: #1f1f21;
  --color-surface-container-high: #2a2a2c;
  --color-surface-container-highest: #353437;
  --color-surface-container-low: #1b1b1d;
  --color-surface-container-lowest: #0e0e10;
  --color-secondary-container: #2f4a70;
  --color-on-secondary-container: #9fbae6;
  --color-outline-variant: #444748;
  --color-text-primary: #F9FAFB;
  --color-text-secondary: #9CA3AF;
  --color-success: #10B981;
  --color-close: #db1414;

  --spacing-container-margin: 16px;
  --spacing-card-padding: 20px;
  --spacing-gutter-md: 24px;

  --font-headline-md: "Plus Jakarta Sans", sans-serif;
  --font-headline-sm: "Plus Jakarta Sans", sans-serif;
  --font-display-lg: "Plus Jakarta Sans", sans-serif;
  --font-label-mono: "JetBrains Mono", monospace;
  --font-body-sm: "DM Sans", sans-serif;
  --font-body-md: "DM Sans", sans-serif;
  --font-body-lg: "DM Sans", sans-serif;
}

/* Mengatur class khusus untuk background pattern */
@utility bg-pattern {
  background-image: radial-gradient(circle at center, rgba(47, 74, 112, 0.1) 0, transparent 100%);
}

